.about {
  background-color: $white;
  padding: 170px 120px 200px;
  &.decor {
    &::before {
      top: 195px;
    }
    &::after {
      top: 190px;
    }
  }
  &__h2 {
    margin-top: 0;
    margin-bottom: 70px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  &__item {
    width: 26%;
    margin-right: 8%;
    &_carousel {
      width: 38%;
      .owl-carousel {
        img {
          width: auto;
        }
      }
      .owl-item {
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba($accent, 0.28);
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
        }
      }
      .owl-nav {
        width: 164px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          background-color: rgba($light-grey, 0.14);
          position: absolute;
          left: 50%;
          margin-left: -1px;
          top: 0;
          z-index: 2;
        }
        .owl-prev,
        .owl-next {
          width: 50%;
          background-color: $accent;
          font-size: 48px;
          font-weight: 300;
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all $duration $timing-function;
          &:hover {
            background-color: darken($accent, 10%);
          }
        }
      }
      .title {
        max-width: 320px;
        position: absolute;
        right: 36px;
        top: 44px;
        font-size: 14px;
        font-weight: 900;
        line-height: 28px;
        color: $white;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: right;
        z-index: 2;
      }
    }
    &_benefits {
      width: 20%;
      .benefits {
        margin-top: 40px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__p {
    font-size: 18px;
    line-height: 36px;
    margin-top: 40px;
  }
}
